/.cmake
/cmake-build-debug
/cmake-build-debug-event-trace/
/CMakeCache.txtC
/websocket-client/test/package-lock.json
/**/node_modules
/**/CMakeCache.txt
/**/cmake_install.cmake
/**/*.cbp
/.idea
/websocket-server/websocket-server
/websocket-client/websocket-client
/**/Testing
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj


# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

